extends layout

block content
  h1 Welcome #{user.username}
  .home
    .conversation 
      .messages
      form.messageForm(method="post")
        label(for="messageInput")
          input.messageInput(type="text" name='messageInput' placeholder="Send message..." required)
    .friendsWrapper
      ul 
        h3 Friends
        if user.friends 
          .friends
            each friend in user.friends 
              button(onclick="getConversation(event)")=friend.username
        form.addForm(method='post')
          label(for="username")
            input(type="text" name='username' placeholder="Friend's username..." required)
          label(for="createChat")
            button(type='button') Add

  script.

    const messageForm = document.querySelector('.messageForm');
    messageForm.addEventListener('submit', async (evt) => {
      evt.preventDefault()
      const msg = document.querySelector('.messageInput');
      try {
        sendMessage(msg.value);
        msg.value = '';
      } catch(err) {
        console.error('Error sending message form', err)
      }
    })

    async function getConversation (evt) {
      const friendUsername = evt.target.textContent;
      const activeBtns = document.querySelectorAll('.active');
      //remove & set active friend for ajax fetching for /message
      if (activeBtns) {
        activeBtns.forEach((btn) => {
          btn.classList.remove('active')
        })
      }
      evt.target.classList.add('active');
      
      try {
      const res = await fetch('/chat', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({friendUsername}),
      })
      if (res.ok) {
        const data = await res.json();
        if (data.conversation.length) { 
        document.querySelector('.messages').innerHTML = data.conversation.join('');
        } else { 
          document.querySelector('.messages').innerHTML = '<h3>New Conversation</h3>';
        }

      }
      } catch(err) {
        console.error("ERROR", err)
      }
    }

    async function sendMessage(msg) {
      const friend = document.querySelector('.active').textContent
      try {
        const res = await fetch('/message', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({msg, friend})
        })

        if (res.ok) {
          console.log('message sent successfully')
        } else {
          console.log('Error sending message:', res.status)
        }
      } catch (err) {
        console.error('Caught Error', err)
      }
    }
    