extends layout

block content
  h1 Welcome #{user.username}
  .conversation 
  div 
    ul.friends Friends
    if user.friends 
      each friend in user.friends 
        button(onclick="getConversation(event)")=friend.username
  form.addForm(method='post')
    label(for="username") Add friend
    input(type="text" name='username' placeholder="Friend's username..." required)
    label(for="createChat")
    button(type='button') Add

  script.
    async function getConversation (evt) {
      const friendUsername = evt.target.textContent;
      try {
      const res = await fetch('/chat', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({friendUsername}),
      })
      if (res.ok) {
        const data = await res.json();

        if (data.conversation.length) { 
        document.querySelector('.conversation').innerHTML = data.conversation.join('');
        } else { 
          document.querySelector('.conversation').innerHTML = '<h3>New Conversation</h3>';
        }

      }
      } catch(err) {
        console.error("ERROR", err)
      }
    }

    async function sendMessage(evt) {

    }
    