extends layout

block content
  h1 Log In
  form(action="" method="post") 
    label(for="username") Username
    input(type="text" name="username")
    label(for="email") Email
    input(type="email" name="email")
    label(for="password") Password 
    input(type="password" name="password")
    button(type="submit") Log in
  if errors 
    ul
      each err in errors
        li=err